.card {
  width: 250px;
  height: 350px;
  position: relative;
  text-align: center;
  background-image: url("../../assets/images/bg-emerald-watercolor.jpg");
  background-position: bottom;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.457);
  transition: transform 0.2s ease;
  margin: 10px;
  padding: 15px;
  padding-bottom: 20px;
  &:hover {
    transform: scale(1.05);
    border: 1px solid gold;
  }
  image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  h3 {
    height: 50px;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px black;
    color: #a9d1a6;
  }
  p {
    height: 150px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.364);
    color: #ade3cf;
    overflow: auto;
    padding: 10px;
  }
  span {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }
}
