.homeContainer {
  height: 100vh;
  background-image: url("../../assets/images/mhw-home-wallpaper.png");
  background-size: cover;
}

@media (max-width: 700px) {
  .homeContainer {
    background-image: url("../../assets/images/mhw-home-2.jpg");
    background-position: center;
  }
}

@media (max-width: 480px) {
  .homeContainer {
    background-image: url("../../assets/images/mhw-home-3.jpg");
    background-position: center;
  }
}

.footer {
  background-color: #388e3c;
  text-align: center;
}

.footerText {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  color: #ffffff;
  margin: 0 auto;
}
