main {
    display: flex;
    height: 80vh; 
    background-color: #f5f5f5;
  }
  
  .sidebar_list {
    width: 30%; 
    background-color: #4CAF50; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    li {
        font-size: 1.5rem;
        background-image: url("https://img.freepik.com/free-vector/emerald-background-design_23-2150320585.jpg?t=st=1727012754~exp=1727016354~hmac=f4097b05d106e807a04f132fe0d1c396e46d2556d17048c94f5c31c5c59ddc2e&w=1380");
        color: white;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #215f24; 
      }
    }
  }

  p {
    text-align: center;
    font-size: 2rem;
    color: #555;
    margin-top: 2rem;
  }