article {
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/bg-dark-pattern.webp");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 3px 10px black inset, -3px -3px 10px black inset,
    6px 6px 10px black, -6px -6px 10px black;
  border: 3px solid rgb(10, 28, 12);
  outline: 3px solid white;
  margin: 1rem auto;
  padding: 0.5rem;
  .article_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.user_area {
  width: 25%;
  flex: 1 1 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  img {
    width: 80%;
    max-width: 200px;
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
    border: 3px solid white;
    outline: 3px solid rgb(10, 28, 12);
  }
  p {
    margin: 0;
    color: silver;
    font-size: clamp(12px, 1.2vw, 16px);
  }
}

.comment_area {
  width: 70%;
  flex: 3 1 250px;
  position: relative;
  padding: 0.5rem;
  h4 {
    font-size: clamp(16px, 3vw, 22px);
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-bottom: 0.3rem;
  }
  p {
    text-align: start;
    font-size: clamp(14px, 3vw, 18px);
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.63);
    color: silver;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
  }
  span {
    display: inline;
    color: gray;
    margin-right: 0.5rem;
    font-size: clamp(12px, 1.2vw, 14px);
  }
}

.removeIcon {
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
  color: aquamarine;
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

.icon_area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  div {
    width: 80px;
    color: lightgreen;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.566);
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.5rem;
    &:hover {
      background-color: #105433;
    }
  }
  i {
    margin-right: 0.5rem;
  }
}
